html,
body {
  height: 100%;

  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #1d1d1d;
}
#hero {
  background: linear-gradient(0deg, rgba(249, 172, 64, 1) 0%, rgba(247, 142, 24, 1) 100%);
  width: 90%;
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  display: inline;
  z-index: -1;
}
#hero1 {
  background: radial-gradient(circle, rgba(19, 25, 37, 1) 0%, rgba(19, 25, 39, 1) 100%);
  width: 10%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  right: 0;
  display: inline;
  z-index: -1;
}

.content {
  height: 100vh;
}
.socials a {
  color: white;
  transition: 0.5s ease-in-out;
}
.socials a:hover {
  transition: 0.5s ease-in-out;
  color: #f78e18;
}
.mainav .nav-item .nav-link {
  border-bottom: 2px solid transparent;
  width: 0%;
  transition: 0.5s ease-in-out;
}
.mainav .nav-item .nav-link:hover {
  transition: 0.5s ease-in-out;
  width: 100%;
  border-bottom: 2px solid white;
}

.actionbtn {
  border: 1px solid #f78e18;
  border-radius: 5px;
  color: #f78e18;
  background: transparent;
  transition: 0.5s ease-in-out;
}
.actionbtn:hover {
  border: 1px solid transparent;
  color: rgba(19, 25, 39, 1);
  background: #f78e18;
}

.carddrop {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  transition: 0.5s ease-in-out;
}

.carddrop:hover {
  box-shadow: 0 0 20px rgba(247, 143, 24, 1);
}

nav {
  border-radius: 0 0 10px 10px;
  background: rgba(19, 25, 39, 1);
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 11;
}
/* .fixed-height {
  height: 100px;
  overflow-y: auto;
} */

@media only screen and (max-width: 992px) {
  #hero,
  #hero1 {
    display: none;
  }
  html,
  body {
    overflow-x: hidden;
  }

  .circ {
    border-radius: 200%;
    max-width: 500px;
    width: 100%;
    height: auto;
    max-height: 500px;
    background-position: center;
    object-fit: cover;
  }
  .content {
    height: 60dvh;
    background: #f78e18;
  }
  #fc {
    background: #f78e18;
  }
}
@media only screen and (max-width: 600px) {
  .circ {
    border-radius: 200%;
    max-width: 300px;
    width: 100%;
    height: auto;
    max-height: 300px;
    background-position: center;
    object-fit: cover;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.pattern {
  width: 100%;
  height: auto;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s) * 0.577);
}

/* Hover effect for the person container */
.person-container:hover .person {
  transform: scale(1.05); /* Slight zoom-out effect */
  transition: transform 0.3s ease; /* Smooth transition */
}

/* Add border effect on image during hover */
.person-container:hover .person img {
  border: 3px solid #f78e18; /* Border color */
  transition: border 0.3s ease; /* Smooth border animation */
}

#icons .socials li a.hover {
  color: #f78e18; /* Change to your desired hover color */
  transform: scale(2.2); /* Slightly enlarge the icon */
  transition: transform 0.3s ease, color 0.3s ease;
}

#icons .socials li a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.recent-slider {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.slider-wrapper {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider-wrapper img {
  min-width: 100%;
  height: 200px;
  object-fit: cover;
}
